@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>thank you @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:awesome
        }
        else
        {
            @:u suck
        }
    </div>
</body>
</html>
